<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>login</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
	<div class="container" style="width: 35%; margin-top: 125px;">
		<form method="POST" action="/api/v3/login">
			<input class="form-control form-control-lg" style="margin-bottom: 20px;" type="text" placeholder="username" name="username" aria-label=".form-control-lg example" required>
			<input class="form-control form-control-lg" style="margin-bottom: 20px;" type="password" placeholder="password" name="password" aria-label=".form-control-lg example" required>
			<button type="submit" class="btn btn-primary" style="width: 100%; text-align: center; font-size: 25px;">login</button>
		</form>
		<h3 style="margin-top: 35px;">username: h4ck3r</h3>
		<h3>password: p@55w0rd</h3>
	</div>
</body>
</html>