<!DOCTYPE html>
<html>
	<head>
		<title>home</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <div class="container-fluid">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="/">Home</a>
		        </li>
		        <li class="nav-item" style="position: absolute; right: 55px; font-size: 21px; top: 5px">
		          <a class="nav-link" href="/logout">logout</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<h3 style="margin: 50px; padding: 25px; background-color: #f2f2f2; border-left: 5px solid #000000">Your files</h3>
		<div id="files-container" style="margin: 0 50px">
		</div>
		<form class="row g-3" style="margin: 0 40px" method="POST" action="/api/v3/upload">
		  	<div style="width: 92.5%;">
		    	<label for="inputUrl" class="visually-hidden">url</label>
		    	<input type="text" class="form-control" name="file_url" id="inputUrl" placeholder="file url">
		  	</div>
		  <div style="width: 7.5%;">
		    <button type="submit" class="btn btn-primary mb-3">upload</button>
		  </div>
	</form>
		<script src="static/js/main.js"></script>
	</body>
</html>