<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item" style="position: absolute; right: 141px; font-size: 21px; top: 5px">
          <a class="nav-link" href="/profile">profile</a>
        </li>
        <li class="nav-item" style="position: absolute; right: 55px; font-size: 21px; top: 5px">
          <a class="nav-link" href="/logout">logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="alert alert-secondary" style="width: 50%; text-align: center; position: absolute; left: 25%; top: 15%; font-size: 25px" role="alert">
  pretty secure platform
</div>
<div class="container-sm" style="margin-top: 165px;">
  <div class="card" style="width: 35rem; margin-left: auto; margin-right: auto;">
    <img src="/images/image_1.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">learn hacking</h5>
      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <h6>posted by <a href="#" style="text-decoration: none;">john doe</a></h6>
    </div>
  </div>
</div>
<div class="container-sm" style="margin-top: 55px;">
  <div class="card" style="width: 35rem; margin-left: auto; margin-right: auto;">
    <img src="/images/image_2.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">black-hat hacker vs white-hat hacker</h5>
      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <h6>posted by <a href="#" style="text-decoration: none;">sam young</a></h6>
    </div>
  </div>
</div>
<div class="container-sm" style="margin-top: 55px; margin-bottom: 55px;">
  <div class="card" style="width: 35rem; margin-left: auto; margin-right: auto;">
    <img src="/images/image_3.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">hack the planet!</h5>
      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <h6>posted by <a href="#" style="text-decoration: none;">pedro morata</a></h6>
    </div>
  </div>
</div>