<div class="container" style="width: 35%; margin-top: 125px;">
	<form method="POST" action="/api/login">
		<input class="form-control form-control-lg" style="margin-bottom: 20px;" type="email" placeholder="e-mail" name="email" aria-label=".form-control-lg example" required>
		<input class="form-control form-control-lg" style="margin-bottom: 20px;" type="password" placeholder="password" name="password" aria-label=".form-control-lg example" required>
		<button type="submit" class="btn btn-primary" style="width: 100%; text-align: center; font-size: 25px;">login</button>
	</form>
	<a href="/register" style="text-decoration: none; display: inline-block; margin-top: 25px; font-size: 21px;">create an account</a>
</div>