<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="position: absolute; right: 141px; font-size: 21px; top: 5px" href="/profile">profile</a>
        </li>
        <li class="nav-item" style="position: absolute; right: 55px; font-size: 21px; top: 5px">
          <a class="nav-link" href="/logout">logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-sm" style="margin-top: 25px; width: 45%; margin-left: 35px;">
  <div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">first name</span>
  <input id="first_name" type="text" value="" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
</div>
<div class="container-sm" style="margin-top: 25px; width: 45%; margin-left: 35px;">
  <div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">last name</span>
  <input id="last_name" type="text" value="" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
</div>
<div class="container-sm" style="margin-top: 25px; width: 45%; margin-left: 35px;">
  <div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">e-mail</span>
  <input id="email" type="email" value="" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
</div>
<div class="container-sm" style="margin-top: 25px; width: 45%; margin-left: 35px;">
  <div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">phone number</span>
  <input id="phone_number" type="text" value="" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
</div>
<div class="container-sm" style="margin-top: 25px; width: 45%; margin-left: 35px;">
  <div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">access token</span>
  <input id="access_token" type="text" value="" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
</div>
<script src="/js/profile.js"></script>