<div class="container" style="width: 35%; margin-top: 125px;">
	<div id="email-registered" class="alert alert-warning" role="alert" style="display: none; text-align: center">
  		email is already registered.
	</div>
	<form id="register-form" method="POST">
		<input id="first-name" class="form-control form-control-lg" type="text" style="margin-bottom: 20px;" placeholder="first name" name="first-name" aria-label=".form-control-lg example" required>
		<input id="last-name" class="form-control form-control-lg" type="text" style="margin-bottom: 20px;" placeholder="last name" name="last-name" aria-label=".form-control-lg example" required>
		<input id="email" class="form-control form-control-lg" type="email" style="margin-bottom: 20px;" placeholder="e-mail" name="email" aria-label=".form-control-lg example" required>
		<input id="password" class="form-control form-control-lg" type="password" style="margin-bottom: 20px;" placeholder="password" name="password" aria-label=".form-control-lg example" required>
		<button type="submit" class="btn btn-primary" style="width: 100%; text-align: center; font-size: 25px;">register</button>
	</form>
	<a href="/login" style="text-decoration: none; display: inline-block; margin-top: 25px; font-size: 21px;">Already have an account</a>
</div>
<script src="/js/register.js"></script>