<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Administrator login page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
	<div class="container" style="width: 35%; margin-top: 125px;">
		<h2 style="text-align: center; margin: 25px auto">Administrator login</h2>
		<form method="POST" action="/request_otp">
			<input class="form-control form-control-lg" style="margin-bottom: 20px;" type="email" placeholder="e-mail" name="email" aria-label=".form-control-lg example" required>
			<button type="submit" class="btn btn-primary" style="width: 100%; text-align: center; font-size: 25px;">send 4-digit OTP
			</button>
		</form>
	</div>
</body>
</html>