<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Administrator dashboard</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
	<h1 class="alert alert-dark" style="margin: 20px 20px 115px 20px;">Administrator Dashboard</h1>
	<div class="container" style="margin: 25px auto;">
		<div style="display: inline-block; width: calc(25% - 15px); margin-right: 10px; padding: 35px; background-color: #52006A; border-radius: 10px;">
			<span style="display: block; text-align: center; font-size: 29px; margin-bottom: 10px; color: white">users</span>
			<span style="display: block; text-align: center; color: white; font-size: 21px">1337</span>
		</div>
		<div style="display: inline-block; width: calc(25% - 15px); margin-right: 10px; padding: 35px; background-color: #CD113B; border-radius: 10px;">
			<span style="display: block; text-align: center; font-size: 29px; margin-bottom: 10px; color: white">comments</span>
			<span style="display: block; text-align: center; color: white; font-size: 21px">1337</span>
		</div>
		<div style="display: inline-block; width: calc(25% - 15px); margin-right: 10px; padding: 35px; background-color: #FF7600; border-radius: 10px;">
			<span style="display: block; text-align: center; font-size: 29px; margin-bottom: 10px; color: white">revenue</span>
			<span style="display: block; text-align: center; color: white; font-size: 21px">$1337</span>
		</div>
		<div style="display: inline-block; width: calc(25% - 15px); margin-right: 10px; padding: 35px; background-color: #FFA900; border-radius: 10px;">
			<span style="display: block; text-align: center; font-size: 29px; margin-bottom: 10px; color: white">blocked users</span>
			<span style="display: block; text-align: center; color: white; font-size: 21px">1337</span>
		</div>
	</div>
</body>
</html>